.login-container {
  width: 350px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.tab-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  border: none;
  background: #f1f1f1;
  transition: background 0.3s ease;
}

.tab.active {
  background: #4cafef;
  color: white;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form button {
  background: #4cafef;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
.forgot-password a {
  font-size: 14px;
  text-decoration: none;
  color: #4CAF50;
}

.login-form button:hover {
  background: #3797db;
}
